
body{background-image: url(bgp.jpg);
    overflow: hidden;
    margin: 0;
    user-select: none;
nav{background-color: rgba(0, 0, 0, 0.541);
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7%;
.logo{margin-left: 50px;}
.links{width: 40%;
       display: flex;
       justify-content: space-around;
       align-items: center;
       font-size: 20px;
       color: white;    
       #work{color: #37EFAD;}  
       
       
 .li , #work{
     &::before{
      content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #37EFAD;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  &:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
&:hover{
    
box-shadow: inset 100px 0 0 0 #37EFAD;
transition: color .3s ease-in-out, box-shadow .6s ease-in-out;
  color: rgb(0, 0, 0);
}
 }      
}
}

.contactMenu{
    
width: 320px;
height: 290px;
background-color: #37EFAD;
position: absolute;
left: 100%;
float: right;
.cont{display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
height: 250px;}
.socials{display: flex;align-items: center;justify-content: space-evenly;width: 50%;}
}

header{color: white;
display: flex;
flex-direction: column;
justify-content: space-between;
width: 60%;
margin-left: 50px;
.headertext{font-size: 60px;}
.headerwriteup{font-size: 25px;margin-bottom: 50px;}
.workbtn{width: 220px;
    font-size: 20px;
height: 70px;
border-radius: 5px;
background-color: #37EFAD;
color: black;
display: flex;
justify-content: center;
align-items: center;
transition: all 0.7s ease-in;}
& :hover{
    background-color: black;
    color: #37EFAD;
}
}




}
@keyframes slidein {
    from{left: 100%;}
    to {left: 77%;}
}
@keyframes slideout {
    from{left: 77%;}
    to {left: 100%;}
}

