*{overflow: hidden;}

@media only screen and (min-width: 1050px) and (orientation: landscape) {
body{background-image: url(images/bgp.jpg);
    overflow: hidden;
    margin: 0;
    user-select: none;
    width: 100%;
    height: 100vh;
nav{background-color: rgba(0, 0, 0, 0.541);
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7%;
    width: 100%;
.logo{margin-left: 8%;
    height: 100%;
   .logoText{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    span{font-size: 250%;
    color: #37EFAD;}
   }}
.menu{visibility: hidden;
position: absolute;}
.links{width: 40%;
       display: flex;
       justify-content: space-around;
       align-items: center;
       font-size: 20px;
       color: white;    
       #work{color: #37EFAD;}  
       
       
 .li , #work{
     &::before{
      content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #37EFAD;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  &:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
&:hover{
    
box-shadow: inset 100px 0 0 0 #37EFAD;
transition: color .3s ease-in-out, box-shadow .6s ease-in-out;
  color: rgb(0, 0, 0);
}
 }      
}
}

.conDiv{
position: absolute;
width: 100%;
display: flex;
justify-content: flex-end;
pointer-events: none;
.contactMenu{
 margin-right: -320px;   
width: 320px;
height: 290px;
background-color: #37EFAD;
pointer-events: auto;
.exit{display: flex;
justify-content: flex-end;}
.cont{display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
height: 250px;}
.socials{display: flex;align-items: center;justify-content: space-evenly;width: 50%;}
}
}

header{color: white;
display: flex;
flex-direction: column;
justify-content: space-between;
width: 60%;
margin-left: 8%;
.headertext{font-size: 60px;}
.headerwriteup{font-size: 25px;margin-bottom: 50px;}
.workbtn{width: 220px;
    font-size: 20px;
height: 70px;
border-radius: 5px;
background-color: #37EFAD;
color: black;
display: flex;
justify-content: center;
align-items: center;
transition: all 0.7s ease-in;}
& :hover{
    background-color: black;
    color: #37EFAD;
}
}
}



}
@keyframes slidein {
    from{margin-right: -320px;}
    to {margin-right: 0px;}
}
@keyframes slideout {
    from{margin-right: 0px;}
    to {margin-right: -320px;}
}



//mobile view
@media only screen and (max-width: 1050px) and (orientation: portrait) {
   html{width: 100vw;
height: 100vh;
overflow: hidden;}
    body{background-image: url(images/bgp.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    overflow: hidden;
    margin: 0;
    user-select: none;
    width: 100vw;
    height: 100vh;
nav{background-color: rgba(0, 0, 0, 0.541);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7%;
    width: 100%;
.logo{margin-left: 8%;
    height: 100%;
   .logoText{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    span{font-size: 250%;
    color: #37EFAD;}
   }}
.links{width: 40%;
       display: flex;
       justify-content: space-around;
       align-items: center;
       font-size: 20px;
       visibility: hidden;
       position: absolute;
       color: white;    
       #work{color: #37EFAD;}  
       
       
 .li , #work{
     &::before{
      content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #37EFAD;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  &:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
&:hover{
    
box-shadow: inset 100px 0 0 0 #37EFAD;
transition: color .3s ease-in-out, box-shadow .6s ease-in-out;
  color: rgb(0, 0, 0);
}
 }      
}
.menu{margin-right: 3%;}
}
.conDiv{
position: fixed;
width: 100%;
display: flex;
justify-content: flex-end;
pointer-events: none;
.contactMenu{
 margin-right: -320px;    
width: 320px;
height: 290px;
background-color: #37EFAD;
pointer-events: auto;
.exit{display: flex;
justify-content: flex-end;}
.cont{display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
height: 250px;}
.socials{display: flex;align-items: center;justify-content: space-evenly;width: 50%;}
}
}


header{color: white;
display: flex;
flex-direction: column;
justify-content: space-between;
width: 100%;
margin-left: 8%;
.headertext{font-size: 350%;width: 90%;}
.headerwriteup{font-size: 25px;margin-bottom: 50px;width: 90%;}
.workbtn{width: 220px;
    font-size: 20px;
height: 70px;
border-radius: 5px;
background-color: #37EFAD;
color: black;
display: flex;
justify-content: center;
align-items: center;
transition: all 0.7s ease-in;}
& :hover{
    background-color: black;
    color: #37EFAD;
}
}
}
  }